/* Apply styles to the white box */
#cursorBox {
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: white;
    border: 10px solid grey;
    border-radius: 100%; Remove or adjust this property 
    pointer-events: none; /* Ignore mouse events so it doesn't interfere with interaction */
}

#cursorBox2 {
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: white;
    border: 10px solid grey;
    pointer-events: none; /* Ignore mouse events so it doesn't interfere with interaction */
}
